{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="spacer m-3"></div>

<div class="container text-center">    
    <h5>Welcome {{ user.username}}</h5>
    
    <div class="spacer m-3">
        <hr class="color-platinum line-break">
    </div>
</div>

<div class="container text text-center">
    {% if not managed_artists %}
    <h5>You have not added any artists to your account.</h5>
    {% else %}
    <h5>You have a couple</h5>
    {% endif %}

    <div class="spacer m-3">
        <hr class="color-platinum line-break">
    </div>

    <a href="{% url 'create_artist' %}" class="btn btn-success">Add Artist</a>
</div>


{% endblock %}