{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="spacer m-3"></div>
<!--Actual password reset page-->
<div class="container d-flex justify-content-center">
    <div class="slightly-darker-graphite-background rounded p-3 text-center">
        <div>
            <h2>Change Password</h2>
            <hr>
        </div>
        <form method="POST" class="w-100 text-center">
            {% csrf_token %}
            {{ form.as_div }}
    
            <div class="w-100">
                <hr>
                <div class="d-flex justify-content-between">
                    <a class="btn btn-secondary" href="{% url 'account_login'  %}">Cancel</a>
                    <input class="btn btn-danger" type="submit" value="Change Password">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock %}