{% extends 'base.html' %}
{% load static %}


{% block main %}
<div class="spacer m-3"></div>
<!--Password reset confirmation page-->
<div class="container d-flex justify-content-center">
    <div class="slightly-darker-graphite-background rounded p-3 text-center">
        <h2>Password Reset</h2>
        <hr>
        <p>We have sent you an email. If you have not received it please check your spam folder.<br>
        Otherwise contact us if you do not receive it in a few minutes.</p>
    </div>
</div>
{% endblock %}