{% extends 'base.html' %}
{% load static %}

{% block title %}
Melodia
{% endblock%}

{% block main %}
<div class="spacer m-3"></div>

<div class="container">

    <h1 class="text-center mb-3">Have a look at what people like</h1>

    <div class="hidden">
        <h2>Hidden header</h2>
        <h3>Hidden header</h3>
        <h4>Hidden header</h4>
    </div>

    <!--Carousel code block taken from official bootstrap documentation-->
    <div id="landingpage-carousel" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
            {% for artist in artists|slice:":5" %}
            <button type="button" data-bs-target="#landingpage-carousel" data-bs-slide-to="{{ forloop.counter0 }}"
                class="{% if forloop.first %}active{% endif %}" aria-current="true"
                aria-label="Slide {{ forloop.counter0 }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for artist in artists|slice:":5" %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="carousel-image-container">
                    {% if artist.banner %}
                    <img src="{{artist.banner.url}}" class="d-block w-100" alt="...">
                    {% else %}
                    <img src="{% static 'assets/images/vinyl_disc.jpg' %}" class="d-block w-100" alt="...">
                    {% endif %}
                </div>
                <div class="carousel-caption d-none d-md-block slider-front-element pb-4">
                    <h5><a href="{% url 'artist' artist.name artist.id %}" class="carousel-link">{{artist.name}}</a>
                    </h5>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#landingpage-carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#landingpage-carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

<div class="spacer m-3">
    <hr class="color-platinum line-break">
</div>

<div class="text-center hidden" id="audio-player-div">
    <h5 id="currently-playing-header">Initially hidden</h5>
    <audio id="audio-player" controls></audio>
    <h6 id="next-playing-header">Initially hidden</h6>
    <div class="spacer m-3">
        <hr class="color-platinum line-break">
    </div>
</div>

<div class="container overflow-auto">


    <h2 class="text-center mb-3">Find your next favorite song</h2>

    <div class="shadow p-2 mb-3 bg-dark bg-gradient rounded table-responsive">
        <table class="table suggestion-table text-center">
            <thead>
                <tr>
                    <th class="w-10"></th>
                    <th class="w-25">Track</th>
                    <th class="w-25">Album</th>
                    <th class="w-25">By</th>
                    <th class="w-20">Length</th>
                    <th class="w-25">Rating</th>
                </tr>
            </thead>
            <tbody>
                {% for track in random_tracks %}
                <tr class="{% cycle '' 'slightly-darker-graphite-background' %}">
                    <td>
                        <img class="audio-control-button" id="audio-control-button-0-{{forloop.counter0}}"
                            src="{% static 'assets/images/play_button_small.png' %}" alt="Play track button"
                            data-track="{{ track.name }}" data-track-position="{{ track.position }}"
                            data-track-url="{{ track.track.url }}">
                    </td>
                    <td>{{track.name}}</td>
                    <td>{{track.album.name}}</td>
                    <td><a href="{% url 'artist' track.artist.name track.artist.id %}">{{track.artist.name}}</a></td>
                    <td>{{track.getTrackLength}}</td>
                    <td class="overflow-auto">
                        <div class="rating-row" data-bs-toggle="tooltip" data-bs-placement="top" title="">
                            {% if user.is_authenticated %}
                            <div class="rating-gold">
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust gold-star-rater" data-track-id="{{track.id}}"
                                    data-rating-value="1" alt="">
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust gold-star-rater" data-track-id="{{track.id}}"
                                    data-rating-value="2" alt="">
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust gold-star-rater" data-track-id="{{track.id}}"
                                    data-rating-value="3" alt="">
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust gold-star-rater" data-track-id="{{track.id}}"
                                    data-rating-value="4" alt="">
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust gold-star-rater" data-track-id="{{track.id}}"
                                    data-rating-value="5" alt="">
                            </div>
                            {% else %}
                            <div class="rating-gold">
                                Please login to rate.
                            </div>
                            {% endif %}
                            <div class="rating-gray">
                                {% if track.avg_rating %}
                                {% for filled in track.stars %}
                                {% if filled %}
                                <img src="{% static 'assets/images/rating_star_full_transbg.png' %}"
                                    class="rating-star fill-adjust" data-track-id="{{track.id}}" data-rating-value="2"
                                    alt="">
                                {% else %}
                                <img src="{% static 'assets/images/rating_star_gray.png' %}" class="rating-star" alt="">
                                {% endif %}
                                {% endfor %}
                                {% else %}
                                Not enough rating yet!
                                {% endif %}
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="spacer m-3">
    <hr class="color-platinum line-break">
</div>

<div class="container">
    <h2 class="text-center mb-3">Be sure to discover</h2>
    <div class="hidden">
        <h3>Hidden header</h3>
        <h4>Hidden header</h4>
        <h5>Hidden header</h5>
    </div>
    <div class="row justify-content-center">
        <!--Card code block copied from Bootsrap's official documentation-->
        {% for artist in random_artists %}
        <!--Card code block copied from Bootsrap's official documentation-->
        <div class="mx-1 mb-3 col-6 col-md-4 col-xl-2">
            <div class="card small-artist-card ">
                {% if artist.image %}
                <img src="{{artist.image.url}}" class="card-img-top small-img-cover" alt="...">
                {% else %}
                <img src="{% static 'assets/images/single_empty_user_pfp.png' %}" class="card-img-top small-img-cover"
                    alt="...">
                {% endif %}
                <a href="{% url 'artist' artist.name artist.id %}">
                    <div class="card-img-overlay d-flex align-items-end justify-content-center p-1">
                        <h6 class="card-title bg-dark bg-opacity-50 px-1 rounded">{{artist.name}}</h6>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}

{% block scripts %}
<script src="{% static 'assets/album/js/audio_player.js' %}"></script>
<script src="{% static 'assets/album/js/rating.js' %}"></script>
{% endblock %}