{% extends 'base.html' %}
{% load static %}

{% block title %}
Melodia
{% endblock%}

{% block main %}
<div class="spacer m-3"></div>

<div class="container">

    <h1 class="text-center">Ready for some //random track from random artist</h1>

    <!--Carousel code block taken from official bootstrap documentation-->
    <div id="carouselExampleCaptions" class="carousel slide carousel-fade">
        <div class="carousel-indicators">
            {% for artist in artists|slice:":5" %}
            <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="{{ forloop.counter0 }}" class="{% if forloop.first %}active{% endif %}"
                aria-current="true" aria-label="Slide {{ forloop.counter0 }}"></button>
            {% endfor %}
        </div>
        <div class="carousel-inner">
            {% for artist in artists|slice:":5" %}
            <div class="carousel-item {% if forloop.first %}active{% endif %}">
                <div class="carousel-image-container">
                    {% if artist.banner %}
                    <img src="{{artist.banner}}" class="d-block w-100" alt="...">
                {% else %}
                    <img src="{% static 'assets/images/vinyl_disc.jpg' %}" class="d-block w-100" alt="...">
                {% endif %}
                </div>
                <div class="carousel-caption d-none d-md-block">
                    <h5>{{artist.name}}</h5>
                    <p>{{artist.description}}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
            data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>


</div>

<div class="spacer m-3">
    <hr class="color-platinum line-break">
</div>

<div class="container">
    <table class="table suggestion-table">
        <thead>
            <tr>
                <th>Artist</th>
                <th>Album</th>
                <th>Track</th>
                <th>Length</th>
                <th>Rating</th>
            </tr>
        </thead>
        <!--TODO refactor to get data from DB-->
        <!--TODO alternate background colors-->
        <tbody>
            <tr class="slightly-darker-graphite-background">
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
            </tr>
            <tr>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
            </tr>
            <tr class="slightly-darker-graphite-background">
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
                <td>Place</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="spacer m-3">
    <hr class="color-platinum line-break">
</div>
<div class="container">
    <h1 class="text-center">Discover</h1>
    <div class="row justify-content-center">
        <!--Card code block copied from Bootsrap's official documentation-->
        {% for artist in artists %}
        <!--Card code block copied from Bootsrap's official documentation-->
        <div class="mx-1 mb-3 col-6 col-md-4 col-xl-2">
            <div class="card small-artist-card ">
                {% if artist.image %}
                <img src="{{artist.image.url}}" class="card-img-top small-img-cover" alt="...">
                {% else %}
                <img src="{% static 'assets/images/single_empty_user_pfp.png' %}" class="card-img-top small-img-cover" alt="...">
                {% endif %}
                <a href="{% url 'artist' artist.name artist.id %}">
                    <div class="card-img-overlay d-flex align-items-end justify-content-center p-1">
                        <h6 class="card-title bg-dark bg-opacity-50 px-1 rounded">{{artist.name}}</h6>
                    </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
</div>


{% endblock %}