:root{
    --soft-onyx-background-color: #151515;
    --lighter-graphite-background-color : #2C2C2C;
    --slightly-darker-graphite-color: #1F1F1F;
    --platinum-white-color: #EDEDED;
    --ash-white-color: #E6E6E6;
}

*{
    color: var(--ash-white-color)
}

header{
    background-color: var(--lighter-graphite-background-color);
}

body{
    background-color: var(--soft-onyx-background-color);
}

nav a{
    color: var(--platinum-white-color) !important;
}

.carousel-image-container{
    max-height: 25vh;
    width: auto;
    height: auto;
    display:flex; 
    align-items:center; 
    justify-content:center;
}

.color-platinum{
    color: var(--platinum-white-color) !important;
}

.color-graphite{
    color: var(--lighter-graphite-background-color) !important;
}

.graphite-background{
    background-color: var(--lighter-graphite-background-color);
}

.slightly-darker-graphite-background{
    background-color: var(--slightly-darker-graphite-color);
}

.suggestion-table{
    background-color: var(--lighter-graphite-background-color);
}

.suggestion-table th,.suggestion-table td{
    background-color: transparent;
    color: var(--platinum-white-color);
}

.line-break{
    width: 90%;
    justify-self: center;
    margin: 0;
}