:root{
    --soft-onyx-background-color: #151515;
    --lighter-graphite-background-color : #2C2C2C;
    --slightly-darker-graphite-color: #1F1F1F;
    --platinum-white-color: #EDEDED;
    --ash-white-color: #E6E6E6;
}

*{
    color: var(--ash-white-color);
    font-family: "Corbel", "Calibri", sans-serif;
}

header{
    background-color: var(--lighter-graphite-background-color);
}

body{
    background-color: var(--soft-onyx-background-color);
}

nav a{
    color: var(--platinum-white-color) !important;
}

.carousel-image-container{
    max-height: 25vh;
    width: auto;
    height: auto;
    display:flex; 
    align-items:center; 
    justify-content:center;
}

.color-platinum{
    color: var(--platinum-white-color) !important;
}

.border-platinum{
    border-color: var(--platinum-white-color) !important;
}

.color-graphite{
    color: var(--lighter-graphite-background-color) !important;
}

.onyx-background{
    background-color: var(--soft-onyx-background-color);
}

.graphite-background{
    background-color: var(--lighter-graphite-background-color);
}

.slightly-darker-graphite-background{
    background-color: var(--slightly-darker-graphite-color);
}

.suggestion-table{
    background-color: var(--lighter-graphite-background-color);
}

.overflow-auto{
    overflow: auto;
}

.suggestion-table th,.suggestion-table td{
    background-color: transparent;
    color: var(--platinum-white-color);
}

.line-break{
    width: 90%;
    justify-self: center;
    margin: 0;
}

.full-length{
    width: 100%;
}

.small-artist-card{
    width: 100%; 
    height: auto;
}

.small-img-cover {
    height: 200px;
    object-fit: cover;
}

.artist-banner-image{
    width: 100%;
    height: 15rem;
    object-fit: cover;
}

.artist-image{
    border-radius: 50%;
    max-height: 16rem;
    object-fit: cover;
}

.artist-image-update{
    max-height: 25vh;
    width: auto;
}

.navigation-button{
    width: 7vh;
}

.featured-artist-select option{
    color: black !important;

}

.audio-control-button{
    border-radius: 50%;
    object-fit: cover;
    height: 3vh;
    width: 3vh;
    cursor: pointer;
}

.hidden {
    display: none;
}

.slider-front-element{
    background-color: var(--lighter-graphite-background-color);
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    opacity: 0.75;
    bottom: 0;
}

/* Snippet taken from ChatGPT*/
label.required::after {
    content: " *";
    color: red;
}

.rating-star{
    object-fit: cover;
    height: 2vh;
    width: 2vh;
    cursor: pointer;
}

.fill-adjust{
    transform: scale(1.1);
}

.rating-row{
    position: relative;
    width: 100%
}

.rating-gold, .rating-gray{
    position: absolute;
    width: 100%;
}

.rating-gold{
    z-index: -1;
}

.rating-row:hover .rating-gold{
    z-index: 1;
}
.rating-row:hover .rating-gray{
    z-index: -1;
}

.carousel-link{
    text-decoration: none;
    color: var(--platinum-white-color);
}

/* Screens lager than a mobile matching Bootstraps breakpoint*/
@media (min-width: 576px) {
    .artist-image{       
        width: 100%;    
        height: auto; 
    }
}

/* Screens lager than a laptop matching Bootstraps breakpoint*/
@media (min-width: 992px) {
    .artist-image{    
        border-radius: 50%;
        width: 100%;    
        height: auto;
    }

    .one-third-width{
    width: 33%;
    }    

    .width-45{
        width: 45%;
    }
}